#!/bin/bash
echo -e ""
echo -e " /#######              /##               /##    /## /##                               "
echo -e "| ##__  ##            | ##              | ##   | ##|__/                               "
echo -e "| ##  \ ##  /######  /######    /###### | ##   | ## /##  /#######  /######   /######  "
echo -e "| ##  | ## |____  ##|_  ##_/   |____  ##|  ## / ##/| ## /##_____/ /##__  ## /##__  ## "
echo -e "| ##  | ##  /#######  | ##      /####### \  ## ##/ | ##|  ###### | ##  \ ##| ##  \__/ "
echo -e "| ##  | ## /##__  ##  | ## /## /##__  ##  \  ###/  | ## \____  ##| ##  | ##| ##       "
echo -e "| #######/|  #######  |  ####/|  #######   \  #/   | ## /#######/|  ######/| ##       "
echo -e "|_______/  \_______/   \___/   \_______/    \_/    |__/|_______/  \______/ |__/       "
echo -e ""

echo "Welcome to $(hostname). Current load average: $(cat /proc/loadavg)"
