[Unit]
Description=Spark
Before=
After=network.target

[Service]
Type=forking
User=root
Group=root
ExecStart={{ spark_usr_dir }}/sbin/start-slave.sh spark://spark-master:7077 -p 7078
ExecStop={{ spark_usr_dir }}/sbin/stop-slave.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target