#!/usr/bin/env bash

# This script is for updating spark slaves list
# Usually, the list would locate in $SPARK_DIR/conf/slaves
# Please put it into cron job, like
# */5 * * * * /path/to/update_slaves.sh

AWK=$(which awk)
CURL=$(which curl)
SED=$(which sed)
GREP=$(which grep)

SLAVES_TMP=/tmp/slaves.tmp
SLAVES_LIST_CONF={{ spark_conf_dir }}/conf/slaves

${CURL} -s "http://localhost:8080/" | ${GREP} ':7078' | ${SED} 's/<[^>]*>//g' | ${AWK} -F ':' '{print $1}' | ${AWK} '{$1=$1};1' > ${SLAVES_TMP}

DIFF=$(diff ${SLAVES_TMP} ${SLAVES_LIST_CONF})
if [ "$DIFF" != "" ]
then
    cat ${SLAVES_TMP} > $SLAVES_LIST_CONF
fi